<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" href="index.html"><img src="img/logo-white.png" alt="Petshop DH"></a>

        <nav>
            <ul>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="servicos.html">Serviços</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <main>
        <section class="contato">
            <div class="container">
                <h1>Contato</h1>

                <div class="align-row">
                    <form method="POST">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" required>

                        <label for="email">E-mail</label>
                        <input type="email" id="email" name="email" required>

                        <label for="mensagem">Mensagem</label>
                        <textarea name="mensagem" id="mensagem" required></textarea>

                        <button type="submit" class="btn btn-primary">enviar</button>
                    </form>
                    <div class="info">
                        <p><a href="mailto:contato@petshopdh.com.br">contato@petshopdh.com.br</a> <br>
                            <a href="tel:+5511984848484">(11) 98484-8484 (whatsapp)</a></p>

                        <p>
                            AVENIDA PAULISTA, 4242 <br>
                            BAIRRO CONSOLAÇÃO <br>
                            SÃO PAULO- SP
                        </p>

                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.988721357699!2d-46.77459098487176!3d-23.53290806642761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50ab7feb4519%3A0x739f0ddb0439cf94!2sDigital%20House%20Brasil!5e0!3m2!1spt-BR!2sbr!4v1620050755140!5m2!1spt-BR!2sbr"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="logo-icon">
                <img src="img/icon-black.png" alt="Icone Petshop DH">
            </div>
            <div class="info">
                <p><a href="mailto:contato@petshopdh.com.br">contato@petshopdh.com.br</a> <br>
                    <a href="tel:+5511984848484">(11) 98484-8484 (whatsapp)</a></p>

                <p>
                    AVENIDA PAULISTA, 4242 <br>
                    BAIRRO CONSOLAÇÃO <br>
                    SÃO PAULO- SP
                </p>
            </div>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14631.954336743434!2d-46.7724023!3d-23.532913!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x739f0ddb0439cf94!2sDigital%20House%20Brasil!5e0!3m2!1spt-BR!2sbr!4v1621457988095!5m2!1spt-BR!2sbr"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </footer>
</body>

</html>