<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PETSHOP DH</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<%- include("./components/header.ejs") %>

		<main>
			<section class="banner">
				<div class="container">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit,
						sed do eiusmod tempor incididunt
					</p>
					<img
						src="img/ilustra-park.png"
						alt="ilustração de pessoa passeando com o cachorro na praça"
					/>
				</div>
			</section>
			<section class="servicos">
				<div class="container">
					<h2>serviços</h2>
					<div class="items">
						<article>
							<div class="thumb"></div>
							<h3>banho completo</h3>
							<h4>R$40,00</h4>
						</article>
						<article>
							<div class="thumb"></div>
							<h3>banho completo</h3>
							<h4>R$40,00</h4>
						</article>
						<article>
							<div class="thumb"></div>
							<h3>banho completo</h3>
							<h4>R$40,00</h4>
						</article>
					</div>
				</div>
			</section>
			<section class="sobre">
				<div class="container">
					<img
						src="img/ilustra-city.png"
						alt="Ilustração de pessoa passeando com um cachorro na cidade"
					/>
					<div class="text">
						<h3>
							Sed ut perspiciatis unde iste natus error sit
							voluptatem accusantium doloremque laudantium,
						</h3>
						<p>
							Totam rem aperiam, eaque ipsa quae ab illo inventore
							veritatis et quasi architecto beatae vitae dicta
							sunt explicabo. Nemo enim ipsam voluptatem quia
							voluptas sit aspernatur aut odit aut fugit, sed quia
							consequuntur magni dolores eos qui ratione
							voluptatem sequi nesciunt.
						</p>
					</div>
				</div>
			</section>
		</main>
		<%- include("./components/footer.ejs") %>
	</body>
</html>
