<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PETSHOP DH</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<%- include("./components/header.ejs") %>

		<main>
			<section class="sobre">
				<div class="container">
					<img
						src="img/ilustra-city.png"
						alt="Ilustração de pessoa passeando com um cachorro na cidade"
					/>
					<div class="text">
						<h1>SOBRE</h1>

						<p>
							Totam rem aperiam, eaque ipsa quae ab illo inventore
							veritatis et quasi architecto beatae vitae dicta
							sunt explicabo. Nemo enim ipsam voluptatem quia
							voluptas sit aspernatur aut odit aut fugit, sed quia
							consequuntur magni dolores eos qui ratione
							voluptatem sequi nesciunt.
						</p>
					</div>
				</div>
			</section>
			<section class="team">
				<div class="container">
					<h2>OUR team</h2>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Ipsa pariatur alias dolores placeat, veniam inventore
						consectetur quas voluptas unde voluptate tempora,
						aliquam itaque incidunt velit repudiandae odit.
						Accusantium, temporibus nulla? Eaque repudiandae facilis
						placeat voluptatibus error. Porro quas natus commodi
						exercitationem, eum doloremque dolores. Amet facilis
						harum dolorem, consequatur, corrupti similique
						perferendis distinctio minima sed molestias doloribus,
						repudiandae odit recusandae.
					</p>
					<p>
						Aliquam dolorem placeat necessitatibus asperiores
						excepturi eaque eveniet sequi doloremque, voluptas nemo
						consectetur similique vitae quae iure odit quo. Mollitia
						corrupti sequi dolorum. Suscipit cupiditate eligendi
						asperiores, nemo fuga voluptate?Recusandae quas ex nihil
						rem tenetur est et dolores expedita quaerat atque
						obcaecati esse, eum non accusantium at consequatur modi
						veritatis quidem optio dolorum voluptatem commodi eaque!
						Nemo, nihil dignissimos!
					</p>

					<ul>
						<li>Lorem, ipsum dolor.</li>
						<li>Vel, ipsam dignissimos?</li>
						<li>Impedit, corrupti molestiae.</li>
						<li>Magnam, id ratione.</li>
					</ul>
					<p>
						Omnis fugit eveniet impedit quae tenetur magni,
						doloribus est soluta at dignissimos assumenda
						praesentium. Atque laboriosam deserunt veritatis dolore
						obcaecati harum assumenda! Placeat possimus repellat
						blanditiis debitis dicta, repudiandae nesciunt!
					</p>
				</div>
			</section>
		</main>
		<%- include("./components/footer.ejs") %>
	</body>
</html>
