<header>
	<div class="container">
		<a class="logo" href="/"
			><img src="img/logo-white.png" alt="Petshop DH"
		/></a>
		<nav>
			<ul>
				<li><a href="/sobre">Sobre</a></li>
				<li><a href="/servicos">Serviços</a></li>
				<li><a href="/contato">Contato</a></li>
				<li><a href="/login">Login</a></li>
			</ul>
		</nav>
	</div>
</header>
