@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

img {
    cursor: pointer;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
    position: fixed;
    top: 0;
    /* z-index: 0; */
}

header div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #777777;
    text-transform: uppercase;
    font-weight: 600;

    background: #FFFFFF;
}

header a {
    color: inherit;
}

header ul {

    list-style: none;

    display: flex;
}

header ul li {
    margin-right: 20px;
    transition: .6s all;
}

header ul li:hover {
    font-size: 22px;
    border-bottom: 2px solid #C2185B;
}

.banner, .banner img {
    width: 100%;
}

.your-style {
    padding: 30px;
}

.your-style h2 {
    text-align: center;
    font-size: 42px;
}

.your-style article {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    flex-wrap: wrap;

    margin-top: 60px;
}

.products {
    background-color: #C2185B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 50px 50px 80px 50px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.products h2 {
    color: white;
    text-transform: uppercase;
    font-size: 38px;
}

.products div {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card-products {
    background-color: white;
}

.products h2 {
    color: white;
    text-transform: uppercase;
    font-size: 38px;
}

.products div {
    display: flex;
    gap: 12px;
}

.card-products {
    background-color: white;
    padding-bottom: 20px;
}

.card-products p, .card-products span {
    margin-left: 10px;
    text-transform: uppercase;
}

.card-products p {
    margin-top: 3px;
    font-weight: bold;
}

.news {
    display: flex;
    justify-content: center;
    gap: 30px;
    /* flex-wrap: wrap; */

    margin-bottom: 60px;
}

.news div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.news div img {
    margin-top: 50px;
}

.news-details h3 {
    font-size: 39px;
}

.news-details button {
    border: none;

    width: 55%;
    padding: 20px;

    background-color: #C2185B;
    color: white;
    font-weight: bold;
    font-size: 22px;

    cursor: pointer;;
}

footer {
    background-color: #C2185B;
    color: white;

    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    /* align-items: center; */

    /* Caso quiser alinhar as seçoes de categorias e institucional, aplicar o align itens flex-start e margin top no h4 de 50px*/

    align-items: flex-start;

    gap: 50px;
}

footer h4 {
    font-size: 20px;
    margin-top: 50px;

}

footer ul {
    list-style: none;
}

footer ul a {
    color: white;
}

.footer-logo {
    width: 20%;
    line-height: 27px;

}

.categories {
    text-transform: lowercase;
    line-height: 27px;
}

.institutional {
    text-transform: lowercase;
    line-height: 27px;
}

/* Formulário */

.trabalhe-conosco {
    /* background-color: aquamarine; */
    margin: 150px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #9B9B9B;
    border: 1px solid #9B9B9B;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.25);
    padding: 30px;
}

.trabalhe-conosco button {
    width: 100%;
    border: none;

    background-color: #C2185B;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;

    transition: .3s all;
}

.trabalhe-conosco button:hover {
    background-color: #7C0333;
    box-shadow: 2px 3px 3px 1px rgba(194, 24, 91, 0.48);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 100%;
}

.input-wrapper label, span, .radio-wrapper label,  .checkbox-wrapper label, .textarea-wrapper label {
    font-weight: bold;
}

.input-wrapper input:focus, .textarea-wrapper textarea:focus, .input-wrapper select:focus {
    outline: 2px solid #C2185B;
}

.input-wrapper input {
    border: 1px solid #9B9B9B;
    height: 26px;
    padding: 10px;
}

.input-wrapper select {
    border: 1px solid #9B9B9B;
    height: 26px;
    padding: 5px;

    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='6' viewBox='0 0 14 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 6L13.0622 0.75H0.937822L7 6Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 10px top 10px;
}

.checkbox-wrapper, .radio-wrapper {
    width: 100%;
}

.checkbox-wrapper span, .radio-wrapper span {
    display: block;
    margin-bottom: 3px;
}

.checkbox-wrapper label, .radio-wrapper label {
    font-weight: normal;
    margin-right: 16px;
}

.textarea-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textarea-wrapper textarea {
    border: 1px solid #9B9B9B;
    min-height: 100px;
    resize: vertical;
    padding: 5px;
}

.file-wrapper {
    width: 100%;
}

.file-wrapper input[type="file"]::-webkit-file-upload-button {
    appearance: none;

    background-color: #C4C4C4;
    color: white;
    border: none;

    padding: 10px;
}