<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products House</title>

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> -->

    <link rel="stylesheet" href="/css/glider.min.css">

    <link rel="stylesheet" href="/css/home.css">

    <script src="/js/glider.min.js" defer></script>

</head>

<body>
    <%- include('./components/header.ejs') %>

    <nav>
        <div class="container">
            <ul>
                <li>
                    <a href="">Categoria 1</a>
                </li>
    
                <li>
                    <a href="">Categoria 2</a>
                </li>
    
                <li>
                    <a href="">Categoria 3</a>
                </li>
            </ul>
        </div>

    </nav>


    <main class="container">
        <section class="banner">
            <div class="glider-contain">
                <div class="glider">
                  <div>
                    <img src="https://images-americanas.b2w.io/spacey/acom/2022/10/24/DESK-PREBF-c6a8c60dc18a.png" alt="">
                  </div>

                  <div>
                    <img src="https://images-americanas.b2w.io/spacey/acom/2022/10/28/iphone500-destaque-desk-bbddc8dfd283.png" alt="">
                  </div>

                  <div>
                    <img src="https://images-americanas.b2w.io/spacey/acom/2022/10/20/tvsdeskj-623b696e6a49.png" alt="">
                  </div>
                </div>
              
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
              </div>
        </section>

        <section class="products">
            <article class="card-product">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1284356/1/1284356198P1.jpg" alt="">
                <div>
                    <span>Cadeira Gamer Giratoria com Master Led Vermelha GT15 - DPX</span>
                    <h3>R$ 999,00</h3>
                </div>
                <a href="#">Comprar</a>
            </article>

            <article class="card-product">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1284356/1/1284356198P1.jpg" alt="">
                <div>
                    <span>Cadeira Gamer Giratoria com Master Led Vermelha GT15 - DPX</span>
                    <h3>R$ 999,00</h3>
                </div>
                <a href="#">Comprar</a>
            </article>

            <article class="card-product">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1284356/1/1284356198P1.jpg" alt="">
                <div>
                    <span>Cadeira Gamer Giratoria com Master Led Vermelha GT15 - DPX</span>
                    <h3>R$ 999,00</h3>
                </div>
                <a href="#">Comprar</a>
            </article>

            <article class="card-product">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1284356/1/1284356198P1.jpg" alt="">
                <div>
                    <span>Cadeira Gamer Giratoria com Master Led Vermelha GT15 - DPX</span>
                    <h3>R$ 999,00</h3>
                </div>
                <a href="#">Comprar</a>
            </article>

            <article class="card-product">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1284356/1/1284356198P1.jpg" alt="">
                <div>
                    <span>Cadeira Gamer Giratoria com Master Led Vermelha GT15 - DPX</span>
                    <h3>R$ 999,00</h3>
                </div>
                <a href="#">Comprar</a>
            </article>

            <article class="card-product">
                <img src="https://images-americanas.b2w.io/produtos/01/00/img/1284356/1/1284356198P1.jpg" alt="">
                <div>
                    <span>Cadeira Gamer Giratoria com Master Led Vermelha GT15 - DPX</span>
                    <h3>R$ 999,00</h3>
                </div>
                <a href="#">Comprar</a>
            </article>

            
        </section>
    </main>

    <footer>
        <div class="container">
            © Products House 2022 - Todos os direitos reservados
        </div>
    </footer>
</body>

</html>