<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/produto.css">

    <script src="/js/produto.js" defer></script>

    <title>Produto</title>
</head>
<body>
    <%- include('./components/header.ejs') %>

    <nav>
        <div class="container">
            <ul>
                <li>
                    <a href="">Categoria 1</a>
                </li>
    
                <li>
                    <a href="">Categoria 2</a>
                </li>
    
                <li>
                    <a href="">Categoria 3</a>
                </li>
            </ul>
        </div>

    </nav>

    <main class="container">
        <section class="product">
            <h2>Placa de Vídeo RTX 3070 MSI Ventus 3X Plus NVIDIA GeForce, 8GB GDDR6, LHR, DLSS, Ray Tracing - GeForce RTX 3070 VENTUS 3X PLUS 8G OC LHR</h2>
            
            <div class="product__info">
                <article class="product__image">
                    <img src="https://images.kabum.com.br/produtos/fotos/377636/placa-de-video-msi-nvidia-geforce-rtx-3070-ventus-3x-plus-8gb-gddr6-lhr-dlss-ray-tracing-geforce-rtx-3070-ventus-3x-plus-8g-oc-lhr-_1663095435_g.jpg" alt="">
                </article>
    
                <article class="product__owner">
                    <div class="product__owner-banner">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sint asperiores rerum velit alias consectetur ex, illo, iure atque voluptates aperiam obcaecati qui eligendi libero nobis, tempora molestias dolores? Praesentium.
                    </div>

                    <p>
                        Vendido e entregue por: <strong>Products House</strong> | <span id="stock">Em estoque</span>
                    </p>

                    <div>
                        <h2 class="price">R$ 3.474,99</h2>
                        <button>
                            <span class="material-symbols-outlined">
                                shopping_cart
                            </span>
                            Comprar
                        </button>
                    </div>

                    <p>
                        À vita no PIX com até <strong>15%OFF</strong>
                    </p>

                    <p>
                        Em até 10x sem juros no <strong>cartão</strong>.
                    </p>
                </article>
            </div>
        </section>

        <section class="product__more">
            <button class="accordion">
                <p>Descrição do produto</p>
                <span class="material-symbols-outlined">
                    expand_more
                </span>
            </button>
            <div class="panel">
                <p>
                    Placa de Vídeo MSI NVIDIA GeForce RTX 3070 Ventus 3X Plus
                    Equipada com Ampere—a arquitetura RTX de 2ª geração da NVIDIA. Construído com RT Cores e Tensor Cores aprimorados, novos multiprocessadores de streaming e memória G6 de alta velocidade, ele oferece o poder de que você precisa para enfrentar os jogos mais exigentes.
    
                    O VENTUS traz um design focado no desempenho que mantém o essencial para realizar qualquer tarefa em mãos. Um arranjo de ventilador triplo capaz em um design industrial rígido permite que esta placa gráfica de aparência nítida se encaixe em qualquer construção.
    
                    Placa traseira de metal Escovado
                    Fornece um acabamento visual limpo ao cartão. Também fortalece o cartão e, graças a algumas almofadas térmicas colocadas de maneira inteligente, ajuda a manter a temperatura baixa.
    
                    Juntando tudo
                    O software MSI Center exclusivo da MSI ajuda você a obter o máximo de seus produtos MSI. Monitore, ajuste e otimize em tempo real com apenas alguns cliques.
                </p>
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            © Products House 2022 - Todos os direitos reservados
        </div>
    </footer>
</body>
</html>