<nav>
    <div class="container">
        <ul>
            <li>
                <a href="">Categoria 1</a>
            </li>

            <li>
                <a href="">Categoria 2</a>
            </li>

            <li>
                <a href="">Categoria 3</a>
            </li>
        </ul>
    </div>
</nav>